*{
  margin: 0;
  padding: 0;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid black;
}

.tooltip .tooltiptext {
  position: absolute;
  visibility: hidden;
  width: 90px;
  background-color: rgb(255, 255, 255);
  color: #262626;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  bottom: 9px;
  font-size: 10px;
  right: 65px;
  border: 1px solid #00000064;
  /* transition: 1s; */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}